.env
__pycache__/
**/__pycache__/
*.egg-info/
*.pyc
node_modules/

.direnv
converted_models
result
target/
build/
benchmark_outputs/
alignment_stress_outputs/
alignment_artifacts/
tmp_tests/trt_probe/
tmp_tests/trt_engines/
tinfer/tinfer/models/impl/styletts2/model/trt3/
*.onnx
*.engine
*.plan
*.weights
*.pth
*.pt
*.ckpt
*.safetensors
*.ref
*.o
